<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body class="hold-transition register-page">
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <input type="email" class="form-control"  th:field="*{email}" placeholder="email">
    <input type="text" class="form-control"  th:field="*{username}" placeholder="username">
    <input type="password" class="form-control"  th:field="*{password}" placeholder="password">
    <input type="submit">
</form>
</body>
</html>